@import "../../../../styles/main.scss";
.background {
  position: absolute;
  background-color: #00000080;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid;
  background-color: $layoutBackgroundColor;
  padding: 10px 24px;
  max-width: 1440px;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: white;
    display: flex;
  }

  &__cart {
    display: flex;
    align-items: center;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu_toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 25px;
  border-radius: 20%;
  font-size: 22px;
  cursor: pointer;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  transition: 0.3s;

  &:hover {
    background-color: #427dad2b;
  }
}

.opened_menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: white;
  transform: translateX(-100%);
  transition: 0.5s ease;

  &__nav {
    display: flex;
    justify-content: space-between;
    background-color: $layoutBackgroundColor;
    border-bottom: 1px solid;
    padding: 10px 10px 10px 15px;
    align-items: center;
  }
}

.opened {
  transform: translateX(0);
}

a {
  color: black;
}

.cart_icon {
  display: flex;
  position: relative;
  align-items: center;
  gap: 15px;
  padding: 5px;
  transition: 0.3s;

  &:hover {
    background-color: $layoutBackgroundColor;
    border-radius: 5px;
  }

  & > img {
    height: 30px;
  }

  &__length {
    transform: translate(20%, -10%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 1.5px 3px 0 3px;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    background-color: rgb(67, 176, 42);
    font-weight: 500;
    position: absolute;
    right: 15px;
  }
}

.menu_profile {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 10px;
  margin: 15px 0;

  &__info {
    display: flex;
    gap: 15px;
    padding: 5px;
    transition: 0.3s;

    &:hover {
      background-color: $layoutBackgroundColor;
      border-radius: 5px;
    }

    &_picture {
      display: flex;
      background-color: #12a4d9;
      color: white;
      justify-content: center;
      align-items: center;
      font-weight: bolder;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }

  &__exit {
    padding: 15px;
    width: fit-content;
    cursor: pointer;

    &::after {
      content: "";
      width: 0;
      background-color: rgb(36, 36, 36);
      display: flex;
      height: 0.5px;
      transition: 0.3s;
    }

    &:hover::after {
      content: "";
      width: 100%;
    }
  }
}
