h1,
h2,
h3,
ul,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  padding: 0;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
}

#root {
  position: relative;
  min-height: 100vh;
}