@import "../../styles/main.scss";

.cart_item {
  display: flex;
  border: 1px rgba(229, 231, 235) solid;
  flex-direction: column;
  margin-bottom: -1px;
  transition: 0.3s;

  @include onLaptop {
    flex-direction: row;
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 2fr 0.5fr;
    grid-template-areas: "section-title section-price delete";
  }

  &__section_title {
    display: grid;
    align-items: start;
    grid-template-areas: "image title delete";
    grid-template-columns: 55px auto 0.5fr;

    @include onLaptop {
      display: flex;
      grid-template-areas: none;
      grid-area: section-title;
      align-items: center;
      margin-right: 20px;
      width: 300px;
    }
  }

  &__section_price {
    display: grid;
    grid-template-areas: "count price";
    grid-template-columns: 2fr auto;
    min-width: 130px;

    @include onLaptop {
      grid-template-columns: 2fr 1.1fr;
      grid-area: section-price;
    }

    @include onLaptop {
      grid-template-columns: 2fr 1.1fr;
      grid-area: section-price;
    }

    @include onLaptopM {
      grid-template-columns: 2fr 0.9fr;
      grid-area: section-price;
    }
  }

  &__image {
    height: 60px;
    padding: 5px 10px 5px 5px;
    grid-area: image;

    @include onTablet {
      height: 80px;
    }
  }
  &__title {
    display: flex;
    position: relative;
    font-size: 14px;
    grid-area: title;
    font-weight: 600;
    padding: 5px;

    &:hover {
      text-decoration: underline;
    }

    @include onTablet {
      margin-left: 20px;
    }
  }
  &__count {
    grid-area: count;
    padding: 5px;
    font-size: 14px;
  }

  &__price {
    grid-area: price;
    padding-right: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #e9c9c9 solid;
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 20px;
    height: 20px;
    margin-left: auto;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: red;
      color: white;
    }
  }
}
