@import "../../../styles/main.scss";

.card_info {
  display: inherit;
  grid-area: info;
  flex-direction: column;
  order: 2;
  padding: 10px 0 50px;

  @include onLaptop {
    height: fit-content;
    margin-right: auto;
    gap: 15px;
  }

  & > h1 {
    font-size: 16px;

    @include onLaptop {
      font-size: 18px;
    }
    @include onLaptopM {
      font-size: 28px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
    border-bottom: 0.5px solid rgb(226, 225, 225);

    @include onMobileL {
      padding: 10px 0;
    }

    @include onLaptop {
      padding: 0;
      order: 2;
    }

    & > span:nth-child(1) {
      font-weight: 600;
    }

    & > span:nth-child(2) {
      display: flex;
      justify-content: start;
    }
  }
  &__description {
    margin-top: 20px;

    & > span {
      display: block;
      font-weight: 600;
      margin-bottom: 10px;
    }

    & > p:nth-child(2) {
      line-height: 1.5;
      text-align: justify;
    }
  }
}
