#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body {
  font-family: TT Travels;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "TT Travels";
  src: url("./fonts/TTTravels/TTTravels-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "TT Travels";
  src: url("./fonts/TTTravels/TTTravels-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "TT Travels";
  src: url("./fonts/TTTravels/TTTravels-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "TT Travels";
  src: url("./fonts/TTTravels/TTTravels-DemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "TT Travels";
  src: url("./fonts/TTTravels/TTTravels-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
